 *{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    max-width: 100vw;
   overflow-x: hidden;
}

.form-check-input:checked {
    background-color: #28a745; 
    border-color: #28a745; 
  }
  
.fadeIn{
    animation: fadeIn 0.5s ease;
}
.fadeOut{
    animation: fadeOut 0.5s ease;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
};
